set_io GBACART_RD                   G2
set_io GBACART_CS                   E1
set_io GBACART_AD[0]                A2
set_io GBACART_AD[1]                A1
set_io GBACART_AD[2]                B1
set_io GBACART_AD[3]                C2
set_io GBACART_AD[4]                C1
set_io GBACART_AD[5]                D2
set_io GBACART_AD[6]                D1
set_io GBACART_AD[7]                E2
set_io GBACART_AD[8]                H9
set_io GBACART_AD[9]                D9
set_io GBACART_AD[10]               D8
set_io GBACART_AD[11]               C9
set_io GBACART_AD[12]               A9
set_io GBACART_AD[13]               B8
set_io GBACART_AD[14]               A8
set_io GBACART_AD[15]               B7
set_io pin_pu                       A3
set_io clk16                        B2 # Onboard 16MHz oscillator
set_io led                          B3 # LED
